<div class="container-fluid">
  <div>
    <h1>SEVEN DAILY SINS</h1>
    <!--Adicionar video youtube-->
  </div>
  <div class="movieInfo">
    <div class="bannerAssistir">
      <iframe width="80%" height="600" src="https://www.youtube.com/embed/wxcvbL6o55M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>Descrição</h3>
    <p>Depois que seu reino é dominado por tiranos,<br> uma princesa tenta encontrar um grupo de cavaleiros perigosos para ajudá-la a recuperar suas terras.</p>

    <p></p>
    <ul>
      <li>| Ação |</li>
      <li>Romance |</li>
      <li>+16</li>
    </ul>
  </div>
</div>
