.bannerMovieSerie{
  background-image: url('imgSeries/banner2.jpg');
  background-repeat: no-repeat ;
  background-size: cover;
  height: 50vh;


}
.carrouselMovie{
  margin: 20px;

}
.carrouselMovie h1{
  margin-left: 30px;
  color: #fff;
}
.listMovie{

}

.list{
  display:flex;
  flex-wrap: wrap;
}

.list li{
  padding-left: 2px;
}

.card-body{
  margin: 5px 5px ;
}
.listDescripition-1{
  display:flex;

;
}
.listDescripition-1 li{
  padding-left: 5px
}
.listDescripition-2{
  display:flex;

}

.listDescripition-2 li{
  padding-left: 5px
}
.card{
  width: 19rem;
  transition: transform .2s;
}
.card:hover{
  width: 22rem;
  transform: scale(1.2);
}
.bannerText{
  font-size: 30px;
  padding: 120px 30px 20px ;

}
.bannerText h1{
  font-size: 40px;
  color: #fff;
}
.bannerText p{
  font-size: 30px;
  color: #fff;
  line-height: 0.7;
}
.bannerButton button{
  font-size: 20px;
  height: 40px;
  border-radius: 3px;
  margin-left: 15px;
  background-color: rgba(42, 36, 36, 0.89);
  color: #fff;
  border: none;
  padding: 10px;
}
