<div class="bannerMovieSerie">
  <div class="bannerText">
    <h1>Sword art Online</h1>
    <p>2º Temperoda Liberada</p>
    <p>Tudo está diferente.</p>
    <div class="bannerButton">
      <button>Assistir</button>
      <button>Mais informações</button>
    </div>
  </div>
</div>
<div class="carrouselMovie">
  <h1>Lançamentos</h1>
  <div class="listMovie">
    <ul class="list">
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>

    </ul>
  </div>


</div>
<div class="carrouselMovie">
  <h1>Ação</h1>
  <div class="listMovie">
    <ul class="list">
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
<div class="carrouselMovie">
  <h1>Drama</h1>
  <div class="listMovie">
    <ul class="list">
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="card" >
          <img src="./assets/img/redtest.png" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <ul class="listDescripition-1">
              <li>4 Temporadas</li>
              <li><img src="https://image.flaticon.com/icons/png/512/2534/2534625.png" width="20px" height="20px"></li>
              <li>2020</li>
            </ul>
            <ul class="listDescripition-2">
              <li>Distopia</li>
              <li>Instigante</li>
              <li>Drama</li>
            </ul>
          </div>
        </div>
      </li>

    </ul>
  </div>


</div>
