<div class="bannerMovie">
  <h1>Titulo</h1>
  <p>Texto aleatorio</p>
</div>
<div class="carrouselMovie">
  <div class="listMovie">
    <ul class="list">
      <li>
        <div class="card" style="width: 19rem;">
          <img src="https://live.staticflickr.com/7229/26987047180_1fe541f645_b.jpg" class="card-img-top" alt="Imagetest">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </li>
    </ul>
  </div>


</div>
